version: "3.9"
services:
  synthezia:
    image: ghcr.io/rishikanthc/synthezia:v1.0.4-cuda
    ports:
      - "8080:8080"
    volumes:
      - synthezia_data:/app/data
    restart: unless-stopped
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility

volumes:
  synthezia_data: {}
